footer.bg-ccdm-black.py-4.mt-auto
    .container.px-5
        .row.align-items-center.justify-content-between.flex-column.flex-sm-row.g-3
            .col-auto
                .small.m-0.text-white &copy; CCDM Macieira - Centro Cultural e Desportivo de Macieira
            .col-auto
                a.link-light.small.me-3(href='https://www.facebook.com/ccdm76/', target='_blank', rel='noopener') Facebook
                a.link-light.small(href='https://www.instagram.com/ccdmacieira/', target='_blank', rel='noopener') Instagram
