footer.bg-ccdm-black.py-5.mt-auto
    .container.px-5
        .row.g-4
            .col-lg-5
                .d-flex.align-items-center.gap-2.mb-3
                    img(src='assets/ccdm-logo.svg', alt='Logótipo CCDM', width='40', height='40')
                    span.fw-semibold.text-white CCDM Macieira
                p.text-white-50.mb-3
                    | Centro Cultural e Desportivo de Macieira. Cultura, desporto e convívio para toda a comunidade.
                .d-flex.gap-3
                    a.link-light.small(href='https://www.facebook.com/ccdm76/', target='_blank', rel='noopener') Facebook
                    a.link-light.small(href='https://www.instagram.com/ccdmacieira/', target='_blank', rel='noopener') Instagram
            .col-lg-3
                h6.text-uppercase.text-white-50.mb-3 Ligações
                ul.list-unstyled.mb-0
                    li.mb-2
                        a.link-light.small(href='index.html#atividades') Modalidades
                    li.mb-2
                        a.link-light.small(href='index.html#socios') Sócios & Quotas
                    li.mb-2
                        a.link-light.small(href='index.html#agenda') Agenda
                    li
                        a.link-light.small(href='index.html#contactos') Contactos
            .col-lg-4
                h6.text-uppercase.text-white-50.mb-3 Contacto
                p.small.text-white-50.mb-1 Macieira, Portugal
                p.small.text-white-50.mb-1 Email: ccdm.macieira@gmail.com
                p.small.text-white-50.mb-0 Telefone: +351 000 000 000
        hr.border-secondary.my-4
        .small.m-0.text-white-50 &copy; CCDM Macieira - Todos os direitos reservados
