nav.navbar.navbar-expand-lg.navbar-dark.bg-ccdm-black
    .container.px-5
        a.navbar-brand.d-flex.align-items-center.gap-2(href='index.html')
            img(src='assets/ccdm-logo.svg', alt='Logótipo CCDM', width='36', height='36')
            span.fw-semibold CCDM Macieira
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0.align-items-lg-center
                li.nav-item
                    a.nav-link(href='index.html#sobre') Associação
                li.nav-item
                    a.nav-link(href='index.html#atividades') Modalidades
                li.nav-item
                    a.nav-link(href='index.html#socios') Sócios & Quotas
                li.nav-item
                    a.nav-link(href='index.html#parceiros') Parceiros
                li.nav-item
                    a.nav-link(href='index.html#agenda') Agenda
                li.nav-item
                    a.nav-link(href='index.html#contactos') Contactos
                li.nav-item.ms-lg-3
                    a.btn.btn-ccdm.btn-sm(href='index.html#socios') Tornar-me Sócio
